@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    min-width: pxToRem(360);
    height: 100vh;
    background: ivory;
}

@function pxToRem($to, $size: 16) {
    @return $to / $size + 0em;
  }

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: Lobster Two;
}
p {
    font-family: Lobster Two;
}
button {
    color: #3C3D44;
    font-family: Lobster Two;
}

section {
    max-width: pxToRem(1000);
    padding: pxToRem(70) pxToRem(15);
    box-sizing: border-box;
    margin: auto;;
    padding: pxToRem(20) pxToRem(20);
  }

.width {
    display: flex;
    max-width: pxToRem(550);
    width: 100%;
    height: (250);
    justify-content: center;
    flex-wrap: wrap;
}

@mixin popup() {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}

@mixin button() {
    background: #FFF9EF;
    border: 2px solid #E6DED6;
    border-radius: pxToRem(10);
    max-width: pxToRem(200);
    width: 40%;
    height: pxToRem(120);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: pxToRem(10);
    cursor: pointer;
    font-size: pxToRem(18);
}

/* About me */
.me_open {
    @include popup();
}

.me {
    @include button();
}

.me_text {
  padding: pxToRem(25);
  border: 5px solid #E6DED6;
  border-radius: pxToRem(10);
  background: #FFF9EF;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: pxToRem(1000);
  width: 100%;
  height: pxToRem(600);
  overflow: scroll;
}

.about_text {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.my_photo {
  margin: pxToRem(20);
  float: right;
}
.my_text {
  display: flex;
  align-items: center;
  max-width: pxToRem(376);
  width: 100%;
  border: 1px solid #E6DED6;
  border-radius: pxToRem(10);
  background: #A2A1AF;
  text-align: left;
  margin: pxToRem(20);
  padding: 0 pxToRem(10);
  position: relative;
}

.my_hobbies {
  background: #FFF9EF;
  border: 2px solid #E6DED6;
  border-radius: pxToRem(10);
  max-width: pxToRem(200);
  width: 40%;
  height: pxToRem(120);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: pxToRem(10);
  cursor: pointer;
  font-size: pxToRem(18);
}
.hobbies {
  @include popup();
}

.slider {
  max-width: pxToRem(1200);
  width: 100%;
  height: pxToRem(710);
  background: #FFF9EF;
  margin: 0;
  padding: 0;
}

.slider .images {
  list-style: none;
  position: relative;
  width: 25%;
  height: 100%;
  border-right: 1px solid #E6DED6;
  float: left;
  box-sizing: border-box;
  transition: 0.5s;
  text-align: center;
  overflow: hidden;
}

.img {
  max-width: pxToRem(976);
  width: 100%;
}

.slider:hover .images {
  width: 10%;
}

.slider .images:hover {
  max-width: pxToRem(980);
  width: 70%;
}

.slider .images .content {
  position: absolute;
  height: 40%;
  bottom: -100%;
  left: 0;
  width: 100%;
  background: #A2A1AF;
  box-sizing: border-box;
  opacity: 0;
}

.slider .img:hover {
  height: 70%;
}

.slider .images:hover .content {
  height: 30%;
  bottom: 0;
  transition: 0.4s;
  transition-delay: 0.4s;
  opacity: 0.9;
}

/* Education */

.education_open {
    @include popup();
}

.me1 {
    @include button();
}

.education_container {
  max-width: pxToRem(1000);
  width: 100%;
  background: #FFF9EF;
  border: 5px solid #E6DED6;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  border-radius: pxToRem(10);
  padding: pxToRem(10);
}

.education_content {
  background: #A2A1AF;
  border: 1px solid #E6DED6;
  border-radius: pxToRem(10);
  display: flex;
  width: 45%;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: pxToRem(10);
  color: black;
}

  .hide_icons {
  display: none;
}

/* Work */

.work_open {
  @include popup();
}

.me2 {
  @include button();
}

.work_container {
  display: flex;
  justify-content: space-around;
  max-width: pxToRem(1000);
  width: 100%;
  background: #FFF9EF;
  border: 5px solid #7180AC;
}

.work_experiance {
  background: #A2A1AF;
  border: 1px solid #E6DED6;
  border-radius: pxToRem(10);
  margin: pxToRem(10);
}

/* Contact */

.contact_open {
  @include popup();
}
.me3 {
  @include button();
}

form {
  background: #A2A1AF;
  display: flex;
  flex-direction:column;
  margin:auto;
  max-width:pxToRem(400);
  width: 100%;
  padding:pxToRem(16);
  border: 1px solid #E6DED6;
  border-radius: pxToRem(5);
}

input, textarea {
  margin-bottom:pxToRem(20);
  background: #ECE3D4;
  border: 3px solid #E6DED6;
  border-radius: pxToRem(5);
  padding:pxToRem(8);
  font-family: Shadows Into Light;
}

#comments_form textarea {
  resize: none;
}

.contact_btn {
  background: #F7EDDE;
  border-radius: pxToRem(5);
  border:0;
  padding:pxToRem(8);
}

.comments {
    background: #A2A1AF;
    margin:auto;
    max-width: pxToRem(400);
    padding:pxToRem(16);
}

.comments__entry {
    border-bottom: 1px solid #E6DED6;
    padding: pxToRem(5);

    .author {
        display:block;
        text-align:right;
    }
}

.popup {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
   justify-content: center;
  }

  .message_block {
  border: 1px solid #E6DED6;
  border-radius: pxToRem(10);
  background: #A2A1AF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: pxToRem(500);
  height: pxToRem(200);
  }

/* Footer */

footer {
  margin-top: pxToRem(10);
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  align-items: center;
  padding-bottom: pxToRem(20);
}

.border {
    background: #E6DED6;
    height: pxToRem(2);
    width: pxToRem(150);
}

.footer_icons {
    display: flex;
    justify-content: center;
}

.footer_hide {
    display: none;
    margin: pxToRem(10);
    text-decoration: none;
    align-items: center;
    padding-left: pxToRem(10);
    color: #3C3D44;
}

.footer_ic  {
  display: flex;
  margin: pxToRem(10);
  text-decoration: none;
  align-items: center;
  color: #3C3D44;
}

  .footer_ic > p {
  padding-left: pxToRem(10);
}

.footer_hide > p {
  padding-left: pxToRem(10);
}

   /* -- Media -- */

   @media only screen and (max-width: 855px) {
    .my_text {
      max-width: pxToRem(976);
      width: 100%;
  }

  .slider .img:hover {
    height: 60%;
  }

  .slider .images:hover .content {
    height: 40%;
  }

  .slider {
    height: pxToRem(450);
  }
  }
  @media only screen and (max-width: 780px) {
    .slider {
      height: pxToRem(430);
    }
  }

  @media only screen and (max-width: 680px) {
    .slider .img:hover {
      height: 55%;
    }
  
    .slider .images:hover .content {
      height: 45%;
    }
  }

  @media only screen and (max-width: 620px) {

    html {
      font-size: 15px;
    }
    .education_content {
      width: 100%;
    }
      .main_icons {
      display: none;
    }
      .education_icons {
      display: flex;
      margin: auto;
      justify-content: center;
    }
      .hide_icons {
      display: flex;
    }
  
      .work_container {
      flex-direction: column;
    }
  
      .footer_ic {
      display: none;
    }
      .footer_hide {
      display: flex;
    }
  
  }

  @media only screen and (max-width: 570px) {
    .slider .img:hover {
      height: 50%;
    }
  
    .slider .images:hover .content {
      height: 50%;
    }
  }

  @media only screen and (max-width: 465px) {
    .slider .img:hover {
      height: 45%;
    }
  
    .slider .images:hover .content {
      height: 55%;
    }
  }

  @media only screen and (max-width: 430px) {
    html {
      font-size: 14px;
    }
    
  }

  @media only screen and (max-width: 370px) {
    html {
      font-size: 11px;
    }
    
  }
  @media only screen and (max-width: 320px) {
    html {
      font-size: 9px;
    }
    
    .my_text {
      width: 250px;
    }
    
  }